# Report XADC values and DNA of a Kasli with configured or blank FT4232H
# Usage: openocd -f ./kasli.cfg

source [find board/kasli.cfg]
#ftdi_location 1:4
ftdi_serial "Kasli-v1.0-2"

init
runtest 1000
xadc_report xc7.tap
xilinx_print_dna [xc7_get_dna xc7.tap]
exit
